/* 
    Theme: https://colorhunt.co/palette/a0c49dc4d7b2e1ecc8f7ffe5 
    Fonts:
        font-family: 'Merriweather', serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Sacramento', cursive;
*/


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    background-color: none;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    position: relative;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

h1 {
    font-size: 8.625rem;
    margin: 3.125rem auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #68BF97;
    z-index: 999;
    position: relative;
    text-shadow: 0.1rem  .2rem black;
    top: 10rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #1B2E35;
}

h3 {
    color: #1B2E35;
}

#top {
    line-height: 2;
    background: #9DD6D6;
    position: relative;
}

#pen {
    position: relative;
    bottom: 20rem;;
    left: 67.6rem; 
    width: 2.9rem;
    z-index: 9999;
    transform: rotate(0.2turn);
}

#cloud1 {
    position: relative;
    top: 0;
    left: 0;
    width: 21.875rem;
}

#cloud2 {
    position: relative;
    top: -15rem;
    left: 0;
    width: 34rem;
}

#cloud3 {
    position: relative;
    top: 4rem;
    left: 1rem;
    width: 31.25rem;
}

#fly {
    position: absolute;
    top: 30rem;
    right: 30rem;
    width: 10.25rem;
    z-index: 99999;
}

a {
    color: #11999E
}


/* viewport original */
.skill-row {
    width: 50%;
    margin: 3.25rem auto;   
    text-align: left;
    line-height: 2;
}



.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.code-img2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.cta {
    background: #59E4A8;
    background-image: -webkit-linear-gradient(top, #59E4A8, #59E4A8);
    background-image: -moz-linear-gradient(top, #59E4A8, #59E4A8);
    background-image: -ms-linear-gradient(top, #59E4A8, #59E4A8);
    background-image: -o-linear-gradient(top, #59E4A8, #59E4A8);
    background-image: -webkit-gradient(to bottom, #59E4A8, #59E4A8);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 100;
    padding: 10px 18px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .cta:hover {
    border: solid #3D6E56 0;
    background: #D5F8E7;
    background-image: -webkit-linear-gradient(top, #D5F8E7, #59E4A8);
    background-image: -moz-linear-gradient(top, #D5F8E7, #59E4A8);
    background-image: -ms-linear-gradient(top, #D5F8E7, #59E4A8);
    background-image: -o-linear-gradient(top, #D5F8E7, #59E4A8);
    background-image: -webkit-gradient(to bottom, #D5F8E7, #59E4A8);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
 }

 
 .debug {
    display: none;
}

 /* bottom */
 #top, #middle, #bottom {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
 }

 .bg-footer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    background: url("../images//mountain3.png") #D5F8E7;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 100%;   
}

header, footer {
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

#contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 5;
    align-items: center;
}

#contact-me h2 {
    margin-bottom: 2rem;
}

#contact-me h3 {
    margin-bottom: 4rem;
}

#contact-me p {
    margin-bottom: 2rem;
    line-height: 2;
    color: #1B2E35;

}

main {
    position: relative;
    display: flex;
    flex-direction: column;
}


.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

.footer-info nav {
    display: flex;
    justify-content: space-evenly;
}

 .footer-info nav a {
    color: #1B2E35;
 }
 

 #bottom {
    overflow-x: hidden;
 }
 
 .footer-info p {
    color: rgb(46, 31, 31);
 }


 header {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/rush.jpg") #FFF;
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
 }

 .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
 }

 .code-skill-description {
    color: rgb(46, 31, 31);
 }


 p {
    line-height: 2;
 }

 #contact-me p {
   width: 65%;
   margin: 2.5rem auto 3.75rem;
 }

 #vertical-nav {
    position: fixed;
    top: 50%;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 7rem;
 }

 .dot {
    height: 0.9375rem;
    width: 0.9375rem;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #1B2E35;
    cursor: pointer;
}

#dot1, #dot2, #dot3, #dot4, #dot5 {
    position: relative;
}

#dot1 {
    background: #1B2E35;
}
  
#dot1 .tooltip-text {
    visibility: hidden;
    width: 100px;
    background-color: #1B2E35;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
    opacity: 0.9;

}
  
#dot1 .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #1B2E35;
  }

#dot1:hover .tooltip-text {
    visibility: visible;
  }

#dot2 .tooltip-text {
    visibility: hidden;
    width: 100px;
    background-color: #1B2E35;
    opacity: 0.9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}
  
#dot2 .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #1B2E35;
  }

#dot2:hover .tooltip-text {
    visibility: visible;
  }


#dot3 .tooltip-text {
    visibility: hidden;
    width: 100px;
    background-color: #1B2E35;
    opacity: 0.9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}
  
#dot3 .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #1B2E35;
  }

#dot3:hover .tooltip-text {
    visibility: visible;
  }

#dot4 .tooltip-text {
    visibility: hidden;
    width: 100px;
    background-color: #1B2E35;
    opacity: 0.9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}
  
#dot4 .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #1B2E35;
  }

#dot4:hover .tooltip-text {
    visibility: visible;
}

#dot5 .tooltip-text {
    visibility: hidden;
    width: 100px;
    background-color: #1B2E35;
    opacity: 0.9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}
  
#dot5 .tooltip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #1B2E35;
  }

#dot5:hover .tooltip-text {
    visibility: visible;
}

#tools {
    background: #D5F8E7;
}


#projects, #tools {
    text-align: left;
}

.banner {
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    top: 69%;
    left: 0;
    padding: 2rem 4rem;
}

.banner h2, h3 {
    color: #1B2E35;
}

.blink {
    animation: blinker 2s linear infinite;
}
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .current {
    list-style: upper-alpha;
    background-color: #59E4A8;
    display: inline-block;
  }

  .holder {
    margin: 0 auto;
  }


@media only screen and (max-width: 691px) {
/* mobile */
.skills {
    justify-content: space-evenly;
}

.skill-row {
    width: 100%;
    text-align: center;
    line-height: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 0 1.2em;
}

header {
    background-size: 90%;
}

.skill-row img {
    width: 20%;
    margin: 0 auto;
}

.banner {
    padding: 0;
}


.banner h2, h3 {
    font-size: 1.2rem;
}
/* end of mobile */
}


/* Nest hub */
@media only screen and (min-width: 1024px) and (max-width: 1025px) and (min-height: 600px)  and (max-height: 601px) {
    .skill-row {
        margin: 1.25rem auto;
    }


}

