/* 
    Theme: https://colorhunt.co/palette/a0c49dc4d7b2e1ecc8f7ffe5 
    Fonts:
        font-family: 'Merriweather', serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Sacramento', cursive;

    Dark theme: Compound
    
    Base: #332F2E     
    Secondary: #66493D
    third: #000000
    forth: #263326
    fifth: #30332E
*/

/* Vars */
:root {
    --primary-color: #332F2E;
    --secondary-color: #66493D;
    --tertiary-color: #1B2E35;
    --light-color: rgb(213, 248, 231);
    --bg-white: rgb(250, 250, 250);

    --primary-font: 'Merriweather', serif;
    --secondary-font: 'Montserrat', sans-serif;
    --tertiary-font: 'Sacramento', cursive;
    --light-cursor: url("../images/cursor-light.png"), auto;
    --link-cursor: url("../images/click.png"), auto;
}

/* Resets */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Block */
html {
    scroll-behavior: smooth; 
    background-color: var(--bg-white);
    cursor: var(--light-cursor);
}


body {
    margin: 0;
    text-align: center;
    font-family: var(--primary-font);
    position: relative;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    transition: background 0.5s ease, color 0.5s ease;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: var(--tertiary-color);
}

h3 {
    color: var(--tertiary-color);
}

#top {
    line-height: 2;
    position: relative;
}

ul, ol {
    margin: 0 20px;
    padding: 0 20px;
    box-sizing: inherit;
}

.skill-row {
    width: 50%;
    margin: 3.25rem auto;   
    text-align: left;
    line-height: 2;
}

.code-img, .code-img2 {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.code-img2 {
    float: right;
}

.cta {
    background: rgba(33, 38, 45, 0.8);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: white;
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 100;
    padding: 10px 18px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
 }
 
 .cta:hover {
    background: var(--tertiary-color);
    text-decoration: none;
    color: white;
 }

 /* bottom */
 .bg-footer {
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    background: url("../images/mountain3.png") var(--light-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100%;   
}

footer {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

#contact-me {
    flex-direction: column;
    justify-content: center;
    flex: 5;
    align-items: center;
}

#contact-me h2 {
    margin-bottom: 2rem;
}

#contact-me h3 {
    margin-bottom: 4rem;
}

#contact-me p {
    margin-bottom: 2rem;
    line-height: 2;
    color: var(--tertiary-color);
}

main {
    position: relative;
    flex-direction: column;
}

.footer-info {
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

.footer-info nav {
    justify-content: space-evenly;
}
 
.footer-info p {
    color: rgb(46, 31, 31);
}

header {
    position: relative;
    flex-direction: column;
}

#projects, #tools {
    text-align: left;
}

#tools {
    background: var(--light-color);
}

 .hero {
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: center;
}

 .hero img {
    width: 50vw;
 }

 .banner {
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: var(--tertiary-color);
}

.headings {
    flex-direction: column;
    padding: 6rem 10%;
    border-radius: 5%;
    flex: .5;

}

.explainer {
    flex-direction: column;
    align-items: center;
    color: var(--secondary-color);
}

.banner h2 {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 3.9375rem;
    color: var(--light-color);
    text-shadow: 0.1rem .2rem black;
}

.banner h3 {
    font-size: 2.625rem;
    font-family: var(--secondary-font);
    font-weight: lighter;
    letter-spacing: 1rem;
}

 .skills {
    flex-direction: column;
    justify-content: center;
 }

 .code-skill-description {
    color: var(--secondary-color);
 }

 p {
    line-height: 2;
 }

 #vertical-nav {
    position: fixed;
    top: 50%;
    right: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    height: 7rem;
 }

 .dot {
    position: relative;
    height: 0.9375rem;
    width: 0.9375rem;
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--tertiary-color);
}

.dot:hover .tooltip-text{
    cursor:url("../images/cursor-light.png"), auto;
    visibility: visible;
}

#dot1 {
    background: var(--tertiary-color);
}

.tooltip-text {
    visibility: hidden;
    width: 100px;
    background-color: var(--tertiary-color);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
    opacity: 0.9;
}

.holder {
    margin: 0 auto;
}

/* Dark theme toggle */
#toggle-button  {
    position: fixed;
    top: 3%;
    right: 3%;
}

.lamp {
    width: 90px;
}

.lamp img {
    border-radius: 50%;
    padding: 1rem;
}

.lamp img:hover {
    padding: .9rem;
}

/* Inline elements */
a:hover {
    text-decoration: underline;
}

.footer-info nav a {
    color: rgb(240, 240, 240);
    background-color: rgba(33, 38, 45, 0.4);
    padding: .5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.footer-info nav a:hover {
    background-color: rgba(33, 38, 45, 0.9);
}

/* Helpers */
.debug {
    display: none;
}

.current {
    list-style: upper-alpha;
    background-color: var(--light-color);
    display: inline-block;
}

.w100 {
    width: 100%;
}

.flex {
    display: flex;
}

/* Effects */
.blink {
    animation: blinker 2s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Viewports */
@media only screen and (max-width: 691px) {
    .skills {
        justify-content: space-evenly;
    }
    
    p {
        line-height: 1;
    }
    
    #projects {
        font-size: 12px;
    }
    
    .skill-row {
        width: 100%;
        text-align: center;
        line-height: 1;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-evenly;
        padding: 0 1.2em;
    }
    
    .skill-row h3 {
        padding-bottom: .5rem;;
    }
    
    h2 {
        font-size: 1.875rem;
    }
    
    header {
        position: relative;
    }
    
    .projectsd .holder {
        font-size: 0.75rem;
    }
    
    ol, ul {
        padding: 0;
    }
    
    .skill-row img {
        width: 20%;
        margin: 0 auto;
    }
    
    #top > header > div.hero > img {
        width:100%;
    }
    
    .banner {
        padding: 0;
    }
    
    #top > header > div.banner > div.headings {
        padding: 0 10% 3rem 10%;
    }
    
    #top > header > div.banner { 
        justify-content: center;
    }
    
    .banner h3 {
        font-size: 1.5rem
    }
    
    #contact-me p {
        width: 85%;
    }
}
    
/* Nest hub */
@media only screen and (min-width: 1024px) and (max-width: 1025px) and (min-height: 600px)  and (max-height: 601px) {
    .skill-row {
        margin: 1.25rem auto;
    }
}